globalRetailerADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "globalRetailerADF"
		},
		"MockarooCustomer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'MockarooCustomer'"
		},
		"MockarooStore_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'MockarooStore'"
		},
		"fileStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'fileStorage'"
		},
		"globalRetailerDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'globalRetailerDB'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=sagaweb.database.windows.net;Initial Catalog=globalRetailerDB"
		},
		"MockarooCustomer_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.mockaroo.com/api/3fe85af0?count=1000&key=c02c14f0"
		},
		"MockarooCustomer_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "jose@sagaweb.org"
		},
		"MockarooStore_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.mockaroo.com/api/8cd8f640?count=5&key=c02c14f0"
		},
		"MockarooStore_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "jose@sagaweb.org"
		},
		"ParazunAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://parazun-amazon-data.p.rapidapi.com/product/summaries/?asins=B07FXYLSMB&region=US&page=1"
		},
		"ParazunAmazon_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://parazun-amazon-data.p.rapidapi.com/product/summaries/"
		},
		"globalRetailerAKV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://globalRetailerKV.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dailyPopulate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Populate tables daily",
				"activities": [
					{
						"name": "Populate Customer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['first_name']"
										},
										"sink": {
											"name": "first_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['last_name']"
										},
										"sink": {
											"name": "last_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['email']"
										},
										"sink": {
											"name": "email",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['gender']"
										},
										"sink": {
											"name": "gender",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['country']"
										},
										"sink": {
											"name": "country",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['city']"
										},
										"sink": {
											"name": "city",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['address']"
										},
										"sink": {
											"name": "address",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['lat']"
										},
										"sink": {
											"name": "lat",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['long']"
										},
										"sink": {
											"name": "long",
											"type": "Double"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "MockCustomer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dbCustomers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Populate Store",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Populate Customer",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['country']"
										},
										"sink": {
											"name": "country",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['city']"
										},
										"sink": {
											"name": "city",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['postal']"
										},
										"sink": {
											"name": "postal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['lat']"
										},
										"sink": {
											"name": "lat",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['long']"
										},
										"sink": {
											"name": "long",
											"type": "Double"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "MockStore",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dbStores",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Update Products_Amazon",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Populate Store",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "provider",
										"value": "Amazon US"
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"asin",
										"product",
										"totalRatings",
										"price"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['image']"
										},
										"sink": {
											"name": "imageURL",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['asin']"
										},
										"sink": {
											"name": "asin",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['title']"
										},
										"sink": {
											"name": "product",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['currency']"
										},
										"sink": {
											"name": "currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['price']"
										},
										"sink": {
											"name": "price",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['avg_rating']"
										},
										"sink": {
											"name": "avgRating",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"path": "[['num_ratings']"
										},
										"sink": {
											"name": "totalRatings",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['provider']"
										},
										"sink": {
											"name": "provider",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "productAPI",
								"type": "DatasetReference",
								"parameters": {
									"asins": "B07FXYLSMB%2CB000PKMAOY%2CB08DS45Y8W%2CB07R59RP9W%2CB000NSGUJ4%2CB00E3J9QSG%2CB00CIZ7I14%2CB008N8K15K%2CB08RXL8YF6",
									"region": "US",
									"page": "1"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dbProducts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Generate sales",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Update Products_Amazon",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[saleGenerator]"
						},
						"linkedServiceName": {
							"referenceName": "globalRetailerDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MockCustomer')]",
				"[concat(variables('factoryId'), '/datasets/dbCustomers')]",
				"[concat(variables('factoryId'), '/datasets/MockStore')]",
				"[concat(variables('factoryId'), '/datasets/dbStores')]",
				"[concat(variables('factoryId'), '/datasets/productAPI')]",
				"[concat(variables('factoryId'), '/datasets/dbProducts')]",
				"[concat(variables('factoryId'), '/linkedServices/globalRetailerDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MockCustomer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MockarooCustomer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MockarooCustomer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MockStore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MockarooStore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MockarooStore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvProductAttributes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "fileStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Product Attribute Master Data.csv",
						"container": "filestorage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/fileStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dbCustomers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "globalRetailerDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/globalRetailerDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dbProductAttributes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "globalRetailerDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "productAttributes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/globalRetailerDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dbProducts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "globalRetailerDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "product",
						"type": "varchar"
					},
					{
						"name": "currency",
						"type": "varchar"
					},
					{
						"name": "price",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "totalRatings",
						"type": "int",
						"precision": 10
					},
					{
						"name": "avgRating",
						"type": "int",
						"precision": 10
					},
					{
						"name": "asin",
						"type": "varchar"
					},
					{
						"name": "imageURL",
						"type": "varchar"
					},
					{
						"name": "provider",
						"type": "varchar"
					},
					{
						"name": "createdOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "product"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/globalRetailerDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dbStores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "globalRetailerDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "store"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/globalRetailerDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/productAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ParazunAmazon",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"asins": {
						"type": "string",
						"defaultValue": "B07FXYLSMB%2CB000PKMAOY%2CB08DS45Y8W"
					},
					"region": {
						"type": "string",
						"defaultValue": "US"
					},
					"page": {
						"type": "string",
						"defaultValue": "1"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('?asins=',dataset().asins,'&region=',dataset().region,'&page=',dataset().page)",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ParazunAmazon')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MockarooCustomer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generate fictional customers via API using AI",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('MockarooCustomer_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('MockarooCustomer_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('MockarooCustomer_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MockarooStore')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Generate fictional stores via API using AI, restricted to some countries",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('MockarooStore_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('MockarooStore_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('MockarooStore_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParazunAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "API to obtain product description from Amazon",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ParazunAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"X-RapidAPI-Key": {
							"type": "SecureString",
							"value": "**********"
						},
						"X-RapidAPI-Host": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParazunAmazon')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "API to obtain summary of any amazon product",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ParazunAmazon_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"X-RapidAPI-Host": {
							"type": "SecureString",
							"value": "**********"
						},
						"X-RapidAPI-Key": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/fileStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('fileStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/globalRetailerAKV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('globalRetailerAKV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/globalRetailerDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('globalRetailerDB_connectionString')]"
				},
				"connectVia": {
					"referenceName": "globalRetailerIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/globalRetailerIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dailyTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "dailyPopulate",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-02-08T23:30:00",
						"timeZone": "Argentina Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								10
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dailyPopulate')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/globalRetailerIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Brazil South",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/credential1')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/5122a010-5fe7-4232-a800-dd6abd50f1f7/resourcegroups/globalRetailerPoC/providers/Microsoft.ManagedIdentity/userAssignedIdentities/writerConnector"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dbSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "globalRetailerDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/globalRetailerDB')]"
			]
		}
	]
}